/******************   MAMAPUTIN RESTAURANT    **************/
.mamaputin {
    color: #1E1E1E;
    padding: 0 0 40px 0;
    font-family: 'Montserrat', sans-serif;
    height: 100%;
}

.mamaputin-head {
    background-image: url("./images/mamaputin-big-img.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
    height: 500px;
    color: #ffffff;
}

.mamaputin-head h1 {
   font-size: 40px;
   font-weight: 600;
   margin-bottom: 60px;
    
}

.mamaputin-address {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: -50px auto 100px auto;
    background-color: #FFF5F5;
    color: #000000;
    height: 120px;
    width: 60%;
    border-radius: 5px;
}

.mamaputin-address ul li{
    list-style: none;
    padding: 5px 0;
    justify-content: center;
    text-align: center;
    font-size: 14px;
}

.mamaputin-address ul li span {
    font-size: 15px;
    font-weight: 600;
}

/*
.mamaputin-address table td{
    padding: 20px 35px;
}*/

.mamaputin-address ul li span i{
    padding-right: 4px;
    color: gold;
}

.mamaputin h3  {
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 30px;
    margin-left: 30px;
    color: #1E1E1E;
}

.mamaputin-row {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    

}
/*
.mamaputin-card {
    width: 280px;
    height: 330px;
    text-align: center;
    margin: 10px;

}

.mamaputin-card:hover {
    transform: scale(1.03);
    transition: all 0.5s ease;
}*/


.mamaputin-card-details img {
    width: 280px;
    height: 230px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.mamaputin-card-details {
    margin: 20px ;
    border-radius: 5px;
   /* padding-top: 13px;*/
    height: 330px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-align: center;
}

.mamaputin-card-details:hover {
    transform: scale(1.03);
    transition: all 0.5s ease;
}

.mamaputin-details-head {
    padding-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.mamaputin-card-details h4 {
    margin-right: 70px ;
}





.mamaputin-card-details button {
    background-color: #ff724c;
    color: #ffffff;
    text-decoration: none;
    border: none;
    border-radius: 50px;
    padding: 10px 20px 10px 20px;
    margin: 15px 0 0 10px;
}

.mamaputin-review-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.mamaputin-review-details  {
    width: 350px;
    background-color: #C7E5B3;
    height: 250px;
    padding: 80px 30px 10px 30px;
    border-radius: 25px 5px ;
    margin-top: 100px;
    margin-left: 50px;
    color: #1E1E1E;
}

.mamaputin-review-row .mamaputin-review-footer {
    width: 50%;
    object-fit: cover;
    height: 400px;
    float: right;
  /*  margin-left: 50px;*/

}

.mamaputin-review img {
    width: 130px;
    object-fit: cover;
    height: 130px;
    margin-top: -190px;
    margin-bottom: 30px;
    /*margin-right: 200px;*/
}

.mamaputin-review-details h4 {
    font-size: 20px;
    font-weight: 600;
}



.mamaputin-review-details span i {
    padding-right: 5px;
    padding-bottom: 10px;
    color: gold;
}

.mamaputin-review-details p {
    font-size: 15px;
    font-weight: 400;
}

.review-slide {
    color: #4BA90A;
    margin-left: 120px; 
    margin-top: 10px;
}

.mamaputin-footer-header  {
    display: flex;
    justify-content: right;
    margin: 150px 20px 10px 0;

}

.mamaputin-footer {
    display: flex;
    justify-content: right;
    margin-right: 20px;
    
}


@media (max-width: 540px) and (max-width: 767px) {
    .mamaputin-head h1 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 50px;
         
    }

    .mamaputin-address {
        display: block;
        padding: 8px;
        height: fit-content;
        
    }

    .mamaputin-address ul {
        padding-top: 5px;
    }
    
    /*
    .mamaputin-address table span i{
        color: gold;
    }

    .mamaputin-address table td{
        padding: 7px;
    }*/

    .mamaputin-review-row {
        display: block;
        width: 100%;
    }

   /* .mamaputin-review-row img {
        display: block;
        width: 50%;
        height: 400px;
        margin-top: 35px;
    }
    
    .mamaputin-review img {
        width: 130px;
        height: 130px;
        margin-top: -70px;
        margin-right: 100px;
    }
    */
    
    .mamaputin-footer-header  {
        display: flex;
        justify-content: right;
        margin: 550px 20px 10px 0;
    
    }
    
    .mamaputin-footer {
        display: flex;
        justify-content: right;
        margin-right: 20px;
        
    }
    

}

@media (max-width: 912px) {
    .mamaputin-head h1 {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 50px;
         
    }

    .mamaputin-address {
        display: block;
        padding: 10px;
        height: fit-content;
        margin: -90px auto 100px auto;
    }

    .mamaputin-address ul {
        padding-top: 5px;
    }

   
   /* .mamaputin-address table td{
        padding: 2px;
    }
   */
    .mamaputin-review-row {
        display: block;
        width: 100%;
    }
   
    .mamaputin-review-details {
        margin-left: 10px;
    }

    .mamaputin-review-row .mamaputin-review-footer {
        width: 100%;
        height: 400px;
        margin-top: 35px;
    }
    
   
    
    .mamaputin-footer-header  {
        display: flex;
        justify-content: right;
        margin: 550px 20px 10px 0;
    
    }
    
    .mamaputin-footer {
        display: flex;
        justify-content: right;
        margin-right: 20px;
        
    }

    
    
}

