.input-container {
  width: 435px;
  height: 50px;
  // border: 0.5px solid #4ba90a;
  // border-radius: 5px;

  @media screen and (max-width: 1024px) {
    width: 380px;
  }

  @media screen and (max-width: 890px) {
    width: 300px;
  }

  input {
    width: 100%;
    height: 100%;
    padding-left: 15px;
    border: 0.5px solid #4ba90a;
    border-radius: 5px;
    outline: none;
    font-family: "Inter";
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 21px;
    color: #1e1e1e;
    opacity: 0.9;

    @media screen and (max-width: 768px) {
      font-size: 15px;
      line-height: 18px;
    }
  }
}

.btn-primary {
  margin-top: 34px;
  width: 435px;
  height: 40px;
  left: 815px;
  top: 803px;
  background: #4ba90a;
  border-radius: 5px;

  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height */

  color: #ffffff;
}
